<p>
  delete-student works!
</p>


<!--Deletion Modal
<div *ngSwitchCase="'deleteModal'">
  <div #lgModal class="modal-lg">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h3><b>Delete Student?</b></h3>
        </div>

        <div class="modal-body">
          <h5><b style="color: #F00">*</b> Are you sure you want delete
            <b class="alertDelete">{{delName}} ({{delStudentNum}})</b> studying
            <b class="alertDelete">{{delCourse}}</b>?
          </h5>
        </div>

        <div class="modal-footer">
          <button class=" btn btn-default btn-sm" (click)="cancelDelete()">No</button>
          <button class=" btn btn-danger btn-sm" (click)="deleteStudent()"><b>Yes</b></button>
        </div>
      </div>
    </div>
  </div>
</div>
-->
