<p>
  update-student works!
</p>


<!--Editing Modal
<div *ngSwitchCase="'editModal'">
  <div #lgModal class="modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h3><b>Update Student?</b></h3>
      </div>

      <div class="modal-body">
        <bs-alert id="alertSucc" *ngIf="formError" class="alert-danger">
          Fill in all fields before submitting
        </bs-alert>

        <label><b style="color: #F00">*</b> Current name is <b class="alertDelete">{{delName}}</b>, enter new Student
          name</label><br>
        <input id="lavar" placeholder="ie: Thabo John Paseka" [(ngModel)]="formName"><br>

        <label><b style="color: #F00">*</b> Current studentID is <b class="alertDelete">{{delStudentNum}}</b>, enter
          new StudentID</label><br>
        <input id="lavar" placeholder="ie: S127451" [(ngModel)]="formStudentNum"><br>

        <label><b style="color: #F00">*</b> Current course is <b class="alertDelete">{{delCourse}}</b>, enter new
          Student course</label><br>
        <input id="lavar" placeholder="ie: BSc Information Science" [(ngModel)]="formCourse">
      </div>

      <div class="modal-footer">
        <button class=" btn btn-default btn-sm" (click)="closeModal()">Cancel</button>
        <button class=" btn btn-warning btn-sm" (click)="update()"><b>Update</b></button>
      </div>
    </div>
  </div>
</div>

-->
