<p>
  add-student works!
</p>


<!--New Student Modal
<div *ngSwitchCase="'addModal'" id="AddModal" class="modal-lg">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h3><b>Add Student</b></h3>
      </div>

      <div class="modal-body">
        <bs-alert id="alertSucc" *ngIf="formError" class="alert-danger">
          Fill in all fields before submitting
        </bs-alert>
        <label>Name <b style="color: #F00">*</b></label><br><input id="lavar" placeholder="ie: Jullian Mathibela"
                                                                   [(ngModel)]="formName"><br>
        <label>Student-ID <b style="color: #F00">*</b></label><br><input id="lavar"
                                                                         placeholder="ie: S127451 (Max: 7 Characters)"
                                                                         [(ngModel)]="formStudentNum"><br>
        <label>Course <b style="color: #F00">*</b></label><br><input id="lavar" placeholder="ie: BSc Microbiology"
                                                                     [(ngModel)]="formCourse">
      </div>

      <div class="modal-footer">
        <button class=" btn btn-default btn-sm" (click)="closeModal()">Close</button>
        <button class=" btn btn-success btn-sm" (click)="sendStudentData()"><b>Add</b></button>
      </div>
    </div>
  </div>
</div>
-->
