/* You can add global styles to this file, and also import other style files */

#tableJO{

  position: absolute;
  width: 100%;
  height: 15%;
  left: 0%;
  alignment: center;

}

tr.headings{

  color: black;
  /*font-family: monospace;*/
}

#tableDATA{

  align-content: center;
  align-items: center;
  alignment: center;

  color: grey;
  font-size: 90%;

}


tr.singleROW{

  align-content: center;
  align-items: center;
  alignment: center;

  color: grey;
  font-size: 90%;
}

div.scope{

  position: inherit;
  /*right: 5%;*/
  /*width: 100%;*/
}

input.inputDATA{

  position: absolute;
  right: 2.6%;
  width: 7%;
  top: 0.5%;

  height: 3%;
  text-align: center;
}

#buttonDATA{
  position: absolute;
  right: 0.5%;
  width: 2%;
  top: 0.5%;

  height: 3%;
  text-align: center;
  color: black;
  border-radius: 18%;
}

div.modalBounds{

  position: absolute;
  left: 26%;
  /*width: 100%;*/

}

#lavar{
  text-align: center;
  width: 100%;
}

#alertSucc{
  width: 100%;
  text-align: center;
}

div.tbl_container{
  overflow: auto;
  width: 65%;
  height: 65%;
}

b.alertDelete{
  color: cornflowerblue;
  font-family: Arial;
}
