<p>
  view-student works!
</p>



<!--View Students Modal-->
<!--


<div *ngSwitchCase="'viewStudentModal'">
  <div #lgModal class="modal-lg">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h2><b>{{delName}}</b></h2>
        </div>

        <div class="modal-body">
          <h3><span style="color: indianred" class="glyphicon glyphicon-user"> </span> {{delStudentNum}}</h3>
          <h3><span style="color: dodgerblue" class="glyphicon glyphicon-education"> </span> {{delCourse}}</h3>
          <h3><span style="color: orange" class="glyphicon glyphicon-transfer"> </span> {{lastRead}}</h3>
        </div>

        <div class="modal-footer">
          <button class=" btn btn-primary btn-sm" (click)="closeModal()"><b>OK</b></button>
        </div>
      </div>
    </div>
  </div>
</div>

-->
