<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron text-center">
  <div class="container">
    <h1>Welcome to <i>Alpha-Go</i></h1>
    <p>A platform that persists and manages user data, information and collections!</p>
    <div>
      <!-- routerLink="/go"-->
      <a class="btn btn-primary btn-group-sm" role="button" (click)="getAllStudents()"><b>Go &raquo;</b></a>
      <a class="btn btn-success btn-group-sm" role="button" (click)="addStudentOpenDialog()"><b>Add Student</b>
        <span class="glyphicon glyphicon-plus"></span>
      </a>
      <a class="btn btn-default btn-group-sm" role="button"><b>About us &raquo;</b></a>

    </div>

  </div>

  <!--Search input and button-->
  <div class="scope">
    <input placeholder="SEARCH" class="inputDATA" name="ID" [(ngModel)]="student">
    <a id="buttonDATA" class="btn btn-default btn-sm" type="submit" (click)="getStudentByID()"><span
      class="glyphicon glyphicon-search"></span></a>
  </div>
</div>



<!--Body: Table and alerts contained
<div *ngIf="!showAddModal" class="container" [ngSwitch]="mode">

  <bs-alert id="alertSucc" *ngIf="addSuccess" class="alert-success">
    <b>{{formName}}, {{formStudentNum}}</b> studying <b>{{formCourse}}</b> was successfully added to the collection!
    <button (click)="dismissAlertAdd()" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-remove"></span>
    </button>
  </bs-alert>

  <bs-alert id="alertSucc" *ngIf="deleteSuccess" class="alert-success">
    <b>{{delName}}, {{delStudentNum}}</b> studying <b>{{delCourse}}</b> was successfully deleted from the collection!
    <button (click)="dismissAlertDelete()" class="btn btn-default btn-xs">
      <span class="glyphicon glyphicon-remove"></span>
    </button>
  </bs-alert>

  <bs-alert id="alertSucc" *ngIf="updateSuccess" class="alert-success">
    Updated was successful: <b>{{formName}}, ({{formStudentNum}})</b> studying <b>{{formCourse}}</b>
    <button (click)="closeUpdateAlert()" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-remove"></span>
    </button>
  </bs-alert>
</div>
-->


<!--Modals: For addition, deletion, viewing and editing Students
<div class="modalBounds" *ngIf="showAddModal" [ngSwitch]="modalState">







</div>
-->

<router-outlet></router-outlet>
