<p>
  list-students works!
</p>


<!--Table: Showing all Students
<div style="height: 550px; overflow: auto;">
  <table class="table table-striped table-bordered" *ngSwitchCase="true">
    <thead>
    <tr class="headings">
      <th>#</th>
      <th>Student-Number</th>
      <th>Name</th>
      <th>Course</th>
      <th>Date Retrieved</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <tr id="tableDATA" class="table row-border hover" *ngFor="let student of studentArray; let i = index">
      <td>{{i + 1}}</td>
      <td><b>{{student.studentID}}</b></td>
      <td><b>{{student.name}}</b></td>
      <td>{{student.course}}</td>
      <td>{{student.read}}</td>
      <td>
        <a class="btn btn-danger btn-xs" (click)="deleteStudentByID(student.studentID, student.name, student.course)">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </a>
        <a class="btn btn-warning btn-xs" (click)="openUpdateModal(student.studentID, student.name, student.course)">
          <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
        </a>
        <a class="btn btn-default btn-xs" (click)="viewStudent(student)">
          <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
        </a>
      </td>
    </tr>
    </tbody>
  </table>
-->

  <!--Table: When search is performed
  <table id="tableX" class="table table-striped table-bordered" *ngSwitchCase="false">
    <tr class="headings">
      <th>#</th>
      <th>Student-Number</th>
      <th>Name</th>
      <th>Course</th>
      <th>Date Retrieved</th>
      <th></th>
    </tr>

    <tr class="singleROW" *ngSwitchCase="false">
      <td>-</td>
      <td><b>{{studentOBJ.student_num}}</b></td>
      <td><b>{{studentOBJ.name}}</b></td>
      <td>{{studentOBJ.course}}</td>
      <td>{{studentOBJ.read}}</td>
      <td>
        <a class="btn btn-danger btn-xs"
           (click)="deleteStudentByID(studentOBJ.student_num, studentOBJ.name, studentOBJ.course)">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </a>
        <a class="btn btn-warning btn-xs"
           (click)="openUpdateModal(studentOBJ.student_num, studentOBJ.name, studentOBJ.course)">
          <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
        </a>
        <a class="btn btn-default btn-xs" (click)="viewStudent(studentOBJ)">
          <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
        </a>
      </td>
    </tr>
  </table>
</div>
-->
